.information-head {
  font-size: 100px;
  margin-bottom: 0;
  margin-left: 10%;
  user-select: none;
  padding-top: 5%;
  padding-bottom: 0;
  letter-spacing: 40px;
  margin-left: 10%;
  transition: transform 0.5s;
}

.text-M:hover {
  color: pink;
}

.information-detail {
  /* border: 2px solid #e33a3a; */
  display: flex;
  justify-content: space-between;
  height: 90vh;
}

.container-about-me {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 10%;
  top: 42%;
  position: absolute;
  /* border: solid 2px rgb(18, 216, 200); */
  width: 50%;
}

.about-me {
  top: -70px;
  position: relative;
  font-size: 40px;
  font-weight: bold;
  margin-top: 0;
  padding-top: 0;
  user-select: none;
  /* border: #e33a3a solid 1px; */
}
.dot {
  font-size: 90px;
}

.details-me {
  position: relative;
  top: -150px;
  letter-spacing: 1px;
  width: 70%;
}

.details-asmr {
  position: relative;
  top: -160px;
  letter-spacing: 1px;
  width: 100vh;
  width: 70%;
}

.asmr-box {
  /* border: 2px solid #5c13f0; */
  background-color: rgb(255, 216, 223);
  border-radius: 30px;
  margin: 8%;
  padding: 4%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
}

.text-ASMR {
  text-decoration: underline;
  user-select: none;
}
.text-ASMR:hover {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px pink;
  cursor: pointer;
  transform: scale(1.1);
}

.text-what-is {
  letter-spacing: 1px;
}
