#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
  font-family: prompt;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* font setting */
@font-face {
  font-family: prompt-Bold;
  src: url(../public/Prompt-Bold.ttf);
}

@font-face {
  font-family: prompt;
  src: url(../public/Prompt-Regular.ttf);
}

.prompt-Bold {
  font-family: prompt-Bold;
}

.prompt {
  font-family: prompt;
}

::selection {
  background-color: #6eb7b7;
  color: black;
}

* {
  background-color: rgb(37, 37, 37);
  color: #aac0c0;
}

/* NavBar Styles */
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-inline: 250px;
}

li {
  transition: transform 0.2s;
  font-size: 30px;
  color: #87dada;
  letter-spacing: 1px;
}

li:hover {
  transform: scale(1.1);
}

/* content section */
.box {
  border: solid 3px #6eb7b7;
  width: 360px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 15px;
}

iframe {
  border: solid 3px #6eb7b7;
  width: 320px;
  height: 180px;
  margin-top: 16px;
  border-radius: 5px;
}
